[Unit]
Description=Garden control service.

[Service]
User=pi
Type=simple
ExecStart=/usr/bin/python3 <path>/GardenControl/gardenControl.py

[Install]
WantedBy=multi-user.target
